@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
a{
    text-decoration: none;
}